.places{
  padding-top: 100px;
  padding-bottom: 125px;
}

.placesHead{
  gap: 50px;
  padding-bottom: 50px;

}
.sub1{
  width: 36%;
}
.title1{
  width: 50%;
}
.sub2{
  font-size: 13px;
  font-weight: 300;
}
.title2{
  font-size: 25px;
  font-weight: 300;
}
.cardFooter{
  padding: 30px;
}

.card{
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.041) ;
}
.card:hover{
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.115) ;
}